<form method="post">
    {% csrf_token %}
    <label for="paperge" class="form-label">Select Paper:</label>
    <select class="form-select" id="paperge" name="{{ form.subject_ge.name }}">
        <option selected disabled>Select Paper</option>
        {% for subject in form.subject_ge.field.queryset %}
        <option value="{{ subject.subject_name }}">{{ subject.subject_name }}</option>
        {% endfor %}
    </select>
    <label for="sectionge" class="form-label">Select Section:</label>
    <select class="form-select" id="sectionge" name="{{ form.section.name }}" aria-label="Select section">
        <option selected disabled>Select section</option>
        {% for section in form.section.field.queryset %}
        {% if section.section_type == 'NILL' %}
        <option value="{{ section.section_type}}" selected>{{ section.section_type }}</option>
        {% else %}
        <option value="{{ section.section_type}}">{{ section.section_type }}</option>
        {% endif %}
        {% endfor %}
    </select>
    <label for="semesterge" class="form-label">Select Semester:</label>
    <select class="form-select" id="semesterge" name="{{ form.semester.name }}" aria-label="Select Semester">
        <option selected disabled>Select semester</option>
        {% for semester in form.semester.field.queryset %}
        {% if semester.is_current_sem %}
        <option value="{{ semester.semester_name }}">{{ semester.semester_name }}</option>
        {% endif %}
        {% endfor %}
    </select>
</form>