{% extends "base.html" %}
{% load static %}
{% block headScript %}
{% endblock %}
{% block navButton %}
<button type="button" class="btn btn-outline-dark" onclick="window.location.href='/timetable'">Home</button>
{% endblock %}
{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-4 d-flex">
            <div class="card p-4 flex-fill">
                <h4 class="text-center">Vacant Rooms</h4>
                <hr>
                <form id="room-search-form" method="post" action="{% url 'search_rooms' %}">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <label for="day">Select a day:</label>
                        <select class="form-control" id="day" name="day">
                            <option value="MONDAY">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wednesday">Wednesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday">Friday</option>
                            <option value="Saturday">Saturday</option>
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label for="time">Select a time:</label>
                        <select class="form-control" id="time" name="time">
                            <option value="8:30">8:30 AM</option>
                            <option value="9:30">9:30 AM</option>
                            <option value="10:30">10:30 AM</option>
                            <option value="11:30">11:30 AM</option>
                            <option value="12:30">12:30 PM</option>
                            <option value="13:30">1:30 PM</option>
                            <option value="14:30">2:30 PM</option>
                            <option value="15:30">3:30 PM</option>
                            <option value="16:30">4:30 PM</option>
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <button type="submit" class="btn btn-primary">Find available rooms</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-lg-4 d-flex">
            <div class="card p-4 flex-fill" id="result">
                <ul class="result-list list-group" id="result-list">
                    <li class="list-group-item font-weight-bold d-flex justify-content-between bg-light text-dark">
                        <span>Day: {{ selected_day }} </span>
                        <span>Time: {{ selected_time }} </span>
                    </li>
                    {% for entry in available_rooms %}
                    <li class="list-group-item">{{ entry }}</li>
                    {% empty %}
                    <li id="no-room-found" class="list-group-item mx-auto">
                        <img src="{% static 'images/notavailable.png' %}" alt="No room found" class="img-fluid mx-auto">
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

</div {% endblock %} {% block script %} {% endblock %}